body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0c1a1a;
}

.header {
  display: flex;
  height: 80px;
  top: 0;
}

.logo-container {
  width: 20%; /* Taking up 30% of the header width */
  display: flex;
  align-items: center; /* This will vertically center the logo in the header */
  margin-left: 10px;
  padding-right: 15px;
}

#logo {
  width: 100%;
  height: auto;
}

.menu-bar {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 20px;
}

.menu-item {
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff; /* text colour */
  padding: 16px 20px;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.menu-item:hover,
.menu-item.active {
  background-color: #f0cd02; /* Specified color for hover and active states */
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 80px);
}

.left-side {
  width: 20%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.right-side {
  position: relative;
  width: 80%;
}

.user-input-form {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  gap: 10px;
}

#detailsSection {
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 2px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

#includedEntitySection {
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 2px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
  color: #ddd;
}

.dropdown-menu {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #0e1d1f;
  font-size: medium;
}

input[type='submit'] {
  padding: 8px 12px;
  background-color: #005ca2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  font-size: medium;
}

input[type='submit']:hover {
  background-color: #0056b3;
}

.search-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.search-bar {
  height: 10px;
  width: 150px;
  font-size: 16px;
}

.search-button {
  height: 28px;
  margin-left: 2px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #005ca2;
  color: white;
  font-size: 16px;
}

input[type='text'] {
  padding: 8px 8px;
  width: 100% - 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #0e1d1f;
}

.zoom-button {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10;
  top: 20px;
  background-color: #005ca2;
  color: white;
}

#zoomInButton {
  left: 20px;
  top: 20px;
}

#zoomOutButton {
  left: 20px;
  top: 60px;
}

.bok-mangement-container {
  /* https://cssgrid-generator.netlify.app/ */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 70px;
  justify-content: center;
  align-items: start;
  padding: 70px;
  font-size: large;
}

.bok-management-form-topLeft {
  grid-area: 1 / 1 / 2 / 2;
}
.bok-management-form-midLeft {
  grid-area: 2 / 1 / 3 / 2;
}
.bok-management-form-bottomLeft {
  grid-area: 3 / 1 / 4 / 2;
}
.bok-management-form-midRight {
  grid-area: 2 / 2 / 3 / 3;
}
.bok-management-form-topRight {
  grid-area: 1 / 2 / 2 / 3;
}

/* copy from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 23px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-container label,
.switch-container .switch {
  display: inline-block;
  margin-right: 10px;
}
